<h1>Reception d'un mail depuis le formulaire de contact</h1>

Nom : {{ data.lastname }}<br>
Prénom : {{ data.firstname }}<br>
Email : {{ data.email }}<br><br>

Sujet : {{ data.subject }}<br><br>

Message : {{ data.content }}
